body, html{
  font-family: $fontFamily;
  font-size: $fontSize;
  line-height: $lineHeight;
}

h1, h2, h3{
  font-size 22px
  line-height 25px
  letter-spacing 0
}

p{
  margin 0
  &.caption{
    font-size: 13px;
    letter-spacing: 0.5px;
  }
  &.medium{
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
  }
}

