.ul-list-repositories{
  li{
    display flex
    padding 8px
    box-shadow: 0 0 20px 0 rgba(0,0,0,0.1);
    margin-bottom 10px
    align-items center
    width 300px
    .repository-owner-icon{
      height 50px
      width 50px
      background-size contain
      background-repeat no-repeat
      background-position center
    }
    .repository-info{
      display flex
      flex-direction column
      padding 0 18px
      width 80%
      p{
       text-transform capitalize
      }
    }
    .icon-like{
      margin-right 18px
    }
  }
}


.icon-like{
  background-image url("./icons/ic_like.svg");
  height 25px
  width 25px;
  background-size cover
  background-position center
  cursor pointer
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;
  &:hover{
    background-image url("./icons/ic_liked.svg");
  }
}


.icon-more{
  background-image url("./icons/ic_more.svg");
  height 25px
  width 10px;
  background-size cover
  background-position center
  cursor pointer
}
.star{
  color $happyYellowDefault
}