.container{
  padding 4em
}

.icon-like{
  background-image url("./icons/ic_like.svg");
  height 25px
  width 25px;
  background-size cover
  background-position center
  cursor pointer
  -webkit-transition: background-image 0.2s ease-in-out;
  transition: background-image 0.2s ease-in-out;

  &:hover{
    background-image url("./icons/ic_liked.svg");
  }

  &.filled {
    background-image url("./icons/ic_liked.svg");
  }
}


.icon-more{
  background-image url("./icons/ic_more.svg");
  height 25px
  width 10px;
  background-size cover
  background-position center
  cursor pointer
}
.star{
  color $happyYellowDefault
}

.color-blue{
  color $aggressiveBlueDefault
}