//colors
$sensualRedDefault = #C90A00;
$sensualRedDark = #750000;

$tenderOrangeDefault = #FF5100;
$tenderOrangeDark = #B90000;

$happyYellowDefault = #FFB100;
$happyYellowDark = #FF7A00;

$aggressiveBlueDefault = #0B6494;
$aggressiveBlueDark = #0F3C80;

$tempoGreyDefault = #8A8599;
$tempoGreyDark = #564F6B;

$baseBlack = #1C1C1C;
$blackDarker = #04131B;
$blackDark = #061B25;
$blackMedium = #505F66;
$whiteLight = #E9EAEA;
$whiteLighter = #F5F5F5;


